<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guidance">
    <!-- Permission likely not needed remove after testing -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- Required for all JobServices -->
    <permission android:name="android.permission.BIND_JOB_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Provides location accuracy to within a city block. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- REMOVE ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Required for making calls to OpenWeather -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guidance">

        <activity android:name=".activity.PasscodeActivity"
            android:theme="@style/femaleAppTheme.NoActionBar"/>

        <activity
            android:name=".activity.LocationTestingActivity"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.DailyQuestionActivity"
            android:label="@string/daily_question"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/femaleAppTheme.NoActionBar" />

        <activity
            android:name=".activity.DebugActivity"
            android:label="@string/debug"
            android:theme="@style/femaleAppTheme.NoActionBar">
        </activity>

        <receiver android:name=".ServiceReceiver.onPauseServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AdviceActivity"
            android:label="@string/advice"
            android:theme="@style/femaleAppTheme.NoActionBar" />
        <activity
            android:name=".activity.JustificationActivity"
            android:label="@string/justification"
            android:theme="@style/femaleAppTheme.NoActionBar" />
        <activity
            android:name=".activity.DataActivity"
            android:label="@string/data"
            android:theme="@style/femaleAppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/femaleAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".jobServices.StepsJobService"
            android:label="Steps JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.StepsService"
            android:permission="android.permission.ACTIVITY_RECOGNITION" />
        <service
            android:name=".jobServices.AmbientTempJobService"
            android:enabled="true"
            android:label="AmbientTemp JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.AmbientTempService" />
        <service
            android:name=".jobServices.DailyQuestionJobService"
            android:enabled="true"
            android:label="Daily Question JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".jobServices.LocationJobService"
            android:enabled="true"
            android:label="Location JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            tools:node="merge" />
        <service
            android:name=".jobServices.WeatherJobService"
            android:enabled="true"
            android:label="Weather Job Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.WeatherService" />
    </application>

</manifest>